* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body,
.wrapper {
    margin: 0;
    padding: 0;
    border: none;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background: #f6f6f6;
}

header {
    float: left;
    width: 100%;
    height: 15%;
    background: #262626;
    color: #ffffff;
    border-bottom: solid 3px #de1b1b;
}

header>.info {
    float: left;
    width: 100%;
    height: 70%;
    padding: 10px;
    color: #f6f6f6;
}

header>.menu {
    display: inline-block;
    width: 100%;
    height: 30%;
    text-align: center;
    border-top: solid 1px;
}

header>.menu>.item {
    display: inline-block;
    width: auto;
    height: 100%;
    padding: 5px 15px;
    border-left: solid 1px;
    border-right: solid 1px;
}

header>.menu>.item:first-child {
    border: none;
}

header>.menu>.item:last-child {
    border-right: none;
}

header>.menu>.item:hover {
    background: #f6f6f6;
    color: #262626;
    cursor: pointer;
}

header>.info>.system,
header>.info>.user {
    float: left;
    width: 50%;
}

header>.info>.user {
    text-align: right;
}

header>.info>.user>span {
    float: right;
    width: 100%;
    font-size: 10px;
}

header>.info>.user>span:first-child {
    font-size: 12px;
}

header>.info>.system {
    display: flex;
    align-items: center;
}

header>.info>.system>.logo,
header>.info>.system>.name {
    float: left;
}

header>.info>.system>.logo {
    width: 10%;
}

header>.info>.system>.logo>img {
    width: 100%;
    height: 100%;
}

header>.info>.system>.name,
header>.info>.system>.version {
    width: 90%;
    padding-left: 10px;
}

header>.info>.system>.name>span:first-child {
    font-size: 20px;
    font-weight: bold;
}

.body {
    float: left;
    width: 100%;
    height: 80%;
    display: table;
}

.body>.wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    overflow-y: auto;
}

footer {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 2px #262626;
}